@import '@/styles/variables.scss';
@import '@/styles/colors.scss';

#main-banner {
    background-image: url('../../assets/img/tecnologia.jpg');
    background-size: cover;
    background-position: 0 -250px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-repeat: no-repeat;
    
    h1{
        color: $white;
        text-align: center;
        font-size: 60px;
        padding: 20px 40px;
    }

}