$persianGreen: #00b1ac;
$keppel: #36b1ac;
$summerGreen: #a0bdb3;
$concrete: #f3f3f3;
$grey30: #656565;
$greyScale: #eff6f5;
$nandor: #4b665c;
$linearGradien: linear-gradient(180deg, #00b1ac 35.94%, #007d79 100%);
$oceanBlue: #005b8f;
$white: #ffffff;
$downriver: #071d49;
$celtic: #142b20;
$selectiveYellow: #ffb800;
$juniper: #6e9186;
$doveGray: #656565;
$silver: #c4c4c4;
$osloGray: #818485;
$gin: #d9e9e2;
$ocean20: #00968f;
$blueStone: #006269;
$blackGray: #656565;
$codGray: #151515;
$gold: #f2ca00;
$goldHovered: #daaa00;
$goldPressed: #da9d00;
$marine: #7bafd4;
$red: #f04f50;
$blueGradient: linear-gradient(180deg, #005b8f 35.94%, #003a5a 100%);
$blueOrient: #005b8f;
