@import '@/styles/variables.scss';
@import '@/styles/colors.scss';


#nav {
    background-image: $linearGradien;
    display: flex;
    justify-content: flex-end;
    padding: 15px 50px;
    align-items: center;
    border-bottom: 4px solid $blueStone;
}

#nav #logo-url {
    margin: auto;
    margin-left: 0;
}

#logo {
    width: 50px;
    height: 50px;
}

#nav a {
    color: $oceanBlue ;
    text-decoration: none;
    margin: 12px;
    transition: .5s;
    font-size: 20px;
    font-weight: bold;
}

#nav a:hover {
    color: $gin;
}
