@import '@/styles/variables.scss';
@import '@/styles/colors.scss';


.message-container {
    color: $white;
    background-color: $persianGreen;
    border: 2px solid $persianGreen;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    margin: 30px auto;
}